---
import type { NavLink } from "../../data/navigation";

interface Props {
  links: NavLink[];
  listClass?: string;
  linkClass?: string;
}

const { links, listClass, linkClass } = Astro.props;
---

<ul class:list={listClass}>
  {
    links.map((link) => (
      <li>
        <a href={link.href} class:list={["nav-link", linkClass]}>
          {link.label}
        </a>
      </li>
    ))
  }
</ul>
