---
import { navLinks } from "../../data/navigation";
import NavSocialIcons from "./NavSocialIcons.astro";
import PhoneButton from "../ui/PhoneButton.astro";
---

<div id="mobile-backdrop" class="mobile-backdrop"></div>

<nav id="mobile-menu" class="mobile-menu" aria-label="Menu mobilne">
  <div class="flex h-full flex-col px-6 pt-20 pb-8">
    <ul class="flex flex-col gap-6">
      {
        navLinks.map((link) => (
          <li>
            <a
              href={link.href}
              class="nav-link text-lg"
            >
              {link.label}
            </a>
          </li>
        ))
      }
    </ul>

    <div class="mt-auto flex flex-col gap-6">
      <NavSocialIcons />

      <PhoneButton size="sm" class="justify-center px-6 py-3 text-base" />
    </div>
  </div>
</nav>
