---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Services from "../components/Services.astro";
import AboutMe from "../components/AboutMe.astro";
import WhyMe from "../components/WhyMe.astro";
import FAQ from "../components/FAQ.astro";
---

<Layout>
  <main>
    <Hero />
    <Services />
    <AboutMe />
    <WhyMe />
    <FAQ />
  </main>
</Layout>
