---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Services from "../components/Services.astro";
import AboutMe from "../components/AboutMe.astro";
import WhyMe from "../components/WhyMe.astro";
import Collaboration from "../components/Collaboration.astro";
import ServiceArea from "../components/ServiceArea.astro";
import FAQ from "../components/FAQ.astro";
import Contact from "../components/Contact.astro";
import SectionToc from "../components/SectionToc.astro";
---

<Layout>
  <main>
    <Hero />
    <Services />
    <AboutMe />
    <Collaboration />
    <WhyMe />
    <ServiceArea />
    <FAQ />
    <Contact />
  </main>
  <SectionToc />
</Layout>
